.color-title {
    font-weight: normal; 
}

img {
    height: 200px;
    width: 200px;
}

#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#yellow {
    color: yellow;
}

#orange {
    color: orange;
}
