@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Set defaults */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: rgb(99, 100, 100);
  padding: 10px 200px;
  width: 100%;

  /* to make header always dispaly at the top */
  z-index: 999;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  font-size: 1.8em;
  font-weight: 700;
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation > a {
  font-size: 1.1em;
  font-weight: 800;
  font-style: italic;
  color: blue;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 20px;
}

.navigation a:hover {
  color: blueviolet;
}

section {
  padding: 100px 200px;
}

.main {
  /*width: 100%;*/
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/porsche-911-carrera-s-sportscar.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main > div > * {
  color: white;
}

.main h2 {
  font-size: 1.4em;
}

.main span {
  color: blue;
  font-size: 3em;
}

.main h3 {
  font-size: 2em;
}

.main-btn {
  background-color: rgb(28, 70, 161);
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 25px 0;
  border-radius: 12px;
  transition: 0.7s ease;
}

.main-btn:hover {
  transform: scale(1.1);
  background-color: brown;

}
.social-btns a {
  color: white;
  font-size: 1.7em;
  margin-right: 30px;
}
