/*
Groub medthod
selector, selector ... {}
*/
h1, h2{
    color:blueviolet;
}

/*
Child
selector > selector {}
parent > child {}
*/
.box > p {
    color:firebrick;
}

/*
Descendent
selector selector {}
Ancestor descendant {}
*/
.box li {
    color:blue;
}

/*
Chaining
SelectorSelector.. {}
*/
li.done {
    color:green;
}

/*
combining combiners
like: Selector > SelectorSelector {}
*/
ul > p.done {
    font-size: .5rem;
}
